body{
  background: #0064ff;
  color: white;
}
h1{
  background: orange;
  width: 33%;
  padding: 10px;
  border-radius: 30px;
  font-family: 'Courier', monospace;
}
.no{
  background: red;
  color: black;
  width: 31%;
  border-radius: 45px;
  padding: 10px;
}

.yes:hover{
  background: white;
  color: black;
  padding: 100px;
  border-radius: 100px;
}

.yes{
  margin: 30px;
}
